.image-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  margin: 20px;
  text-align: center;
}

.darken {
    display: inline-block;
    background: #333;
    padding: 3px;
    opacity: 1.0;
}

.darken img {
    display: block;

    -webkit-transition: all 0.1s linear;
       -moz-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
         -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
}

.darken:hover img {
    opacity: 0.5;

}

div.video-wrapper {
 width: 500px;
 height: 281px;
 margin: 0 auto;
}

div.fixy {
  position: fixed;
}
