---
layout: default
title: xplode.io
---
<div id="main_container" class="container">
{% assign counter = 0 %}
{% for post in site.posts %}
  {% capture mod %}{{ (counter) | modulo:3 }}{% endcapture %}
  {% if mod == '0' %}
  <div class="row">
  {% endif %}
    <div class="index-post-container">
      <div class="index-post button btn" onclick="window.location='{{ post.url }}'">
        <div>
          <span class="index-title">{{ post.title}}</span>
        </div>
        <div class="index-tags">
         {% for tag in post.tags %}
           {{ tag }}
         {% endfor %}
        </div>
      </div>
    </div>
  {% if mod == '2' or forloop.last %}
  </div> <!-- end row -->
  {% endif %}
  {% capture counter%}{{ (counter) | plus:1 }}{% endcapture %}
{% endfor %}
</div>
