<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top navbar-blog" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand brand-blog active" href="/">blog.xplode.io</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      {% if page.previous.url %}
      <ul class="pager">
        <li class="previous">
          <a href="{{ page.previous.url }}">
              <span class="glyphicon glyphicon-circle-arrow-left"></span> {{ page.previous.title }}
          </a>
        </li>
      </ul>
      {% endif %}
    </div><!-- col -->
    <div class="col-sm-6 post-title-container">
      <span class="post-title">{{ page.title }}</span>
    </div>
    <div class="col-sm-3">
      {% if page.next.url %}
      <ul class="pager">
        <li class="next">
          <a href="{{ page.next.url }}">
                {{ page.next.title }} <span class="glyphicon glyphicon-circle-arrow-right"></span>
          </a>
        </li>
      </ul>
      {% endif %}
    </div><!-- col -->
  </div><!-- row -->
</div>
